footer {
	position: relative;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: solid 1px #CCCCCC;
}

footer p {
    text-align: center;
    margin-top: 22px;
}
